@font-face {
  font-weight: 7700;
  font-family: "Open Sans";
  src: url(../font/OpenSans-Bold.ttf) format("ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  src: url(../font/OpenSans-SemiBold.ttf) format("ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url(../font/OpenSans-Regular.ttf) format("ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  src: url(../font/OpenSans-Light.ttf) format("ttf");
}
a {
  text-decoration: none;
  color: black;
}
.conteiner {
  max-width: 1550px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}
.header {
  margin: 0;
  /* height: 100%; */
  width: 100%;
  margin-left: .5%;
  margin-top: .5%;
}
.footer {
  display: inline-flex;
  margin: 0;
  background-color: #329900;
  width: 99%;
  margin-left: .5%;
}
.logo {
  display: block;
  float: left;
  width: 16%;
  height: 150px;
  font-size: 50px;
  line-height: 150px;
  text-align: center;
  color: #b564b3;
  background-color: #7a3166;
  margin: 0;
}
.navigation {
  background-color: #338fb4;
  display: inline-flex;
  float: left;
  width: 49.5%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  justify-content: center;
  margin-left: .5%;
}
.nav {
  margin: 0 90px;
  font-size: 30px;
  color: #74d1fc;
  background-color: #338fb4;
}
.rate {
  width: 16%;
  height: 150px;
  display: inline-flex;
  float: left;
  line-height: 150px;
  text-align: center;
  justify-content: center;
  background-color: #337284;
  margin-left: .5%;
}
.star {
  margin: 0 7px;
}
.call_us {
  display: inline;
  width: 16%;
  height: 150px;
  float: left;
  text-align: center;
  justify-content: center;
  background-color: #337284;
  margin-left: .5%;
  margin-right: .5%;
}
.number p{
  margin: 0;
  font-size: 30px;
  color: #72cbf5;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.phone_icon {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}
.main {
  display: inline-block;
  background-color: #ffcc01;
  color: #ec7900;
  margin: .5%;
  /* height: 1000px; */
  width: 99%;
}
.left_column {
  margin-top: .5%;
  margin-left: .5%;
  width: 58%;
  float: left;
}
.right_column {
  margin-top: .5%;
  margin-right: .5%;
  width: 40%;
  float: right;
}
.product {
  display: block;
  float: left;
  background-color: #fe9900;
  width: 100%;
  min-height: 146px;
  margin-bottom: 2.5%;
}
.product_tittle {
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ec7900;
  padding-left: 45px;
  padding-top: 47px;
  margin: 0;
}
.five {
  background-color: inherit;
  float: right;
  width: 100%;
  height: 625px;
}
.one .product_tittle{
  padding-top: 60px;
  float: left;
}
.sum {
  float: left;
  margin: 0;
  padding-top: 60px;
  padding-left: 15px;
}
.sum,
.desc {
  padding-left: 45px;
  font-weight: 600;
  font-family: "Open Sans", Arial, sans-serif;
}
.product_up,
.product_down {
  width: 100%;
  height: 50%;
  padding-left: 20px;
}
.recomendations {
  margin: 0;
  padding-top: 160px;
  float: left;
  max-width: 250px;
}
.about_industry {
  margin: 0;
  padding-top: 160px;
  float: left;
  max-width: 70px;
}
.sum_of_product {
  margin: 0;
  color: #ec7900;
  padding-top: 150px;
  float: left;
  max-width: 200px;
}
.footer_navigation {
  display: inline-table;
  width: 60%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  justify-content: center;
  float: left;
}
.footer_nav {
  background-color: #367009;
  padding: 15px 30px;
  color: #90c984;
  font-size: 25px;
}
.follow_us {
  margin-left: 7%;
  float: right;
  background-color: #367009;
  padding: 0 30px;
  line-height: 65px;
  color: #90c984;
  display: inline-flex;
  height: 65px;
  margin-top: 5px;
}
.follow_us p{
  margin: 0;
}
.social {
  position: relative;
  top: 10px;
  left: 5px;
}
.gplus {
  top: 7px;
}
.copyright {
  float: right;
  margin: 0;
  padding: 0 30px;
  color: #9dcba4;
  height: 65px;
  margin-top: 5px;
}
